#Whitelist
/*
!/.minecraft
/.minecraft/*
/.minecraft/mods

#main
!/更新记录.txt

#repo stuff
!/.github

#minecrft
!/.minecraft/oresources
!/.minecraft/resourcepacks
!/.minecraft/resources
!/.minecraft/scripts

#minecraft/configs
!/.minecraft/config
/.minecraft/config/*

#other files
