# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Unreal World(虚境)是2022/3/16开始制作的
        蒸汽或许是前期的高效能源
        按B键可以快速打开任务
        按C键可以查看指南(WIP)
        本整合包的内置AI-十娘，会监测玩家的mod防止进行违规操作
        咕咕咕~十娘其实是一只鸽子哦awa
        没有Tip
        Tip:Tip:Tip:Tip:Tip:Tip:Tip:Tip:Tip:Tip:Tip:Tip:Tip...
        敲打你的设备以获得更佳体验:(
        本整合包有手机版哦，真的，只是不建议加太多的mod而已啦
        遇到bug了？不要怕，反馈给十娘，十娘(不)擅长杀虫之术♪(^∇^*)
        不要吝啬你的内存，请确保最低分配给这个包至少50%-75%的内存，手机除外
        世上最让十娘恼怒的事情，莫过于反馈bug不清晰，还有刚发过的话根本就没看到等...
        下限很低，上限很高，大概是指本包的配置要求吧
        找不到合成？为什么不去问问JEI呢
        基础工具的耐久已经降低到了1/15，去使用GT或其他mod的工具吧
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=30
}


